<div class="container">
  <h1>
    {{title}}
  </h1>
  <div class="row">
    <p>   Pagination handled by <a href="http://michaelbromley.github.io/ng2-pagination/#/"> ng-2 pagination</a>
      component with an added style to the style.css file to change the pointer to a hand.
    </p>
   </div>
  <!-- Header -->
  <div class="row">
    <div class="col-md-4">
      <b>Name</b>
    </div>
    <div class="col-md-8">
      <b>Email</b>
    </div>
  </div>

  <!-- Content -->
  <div *ngFor="let customer of customers | paginate: { itemsPerPage: 10, currentPage: page }">
    <div class="row">
      <div class="col-md-4">
        {{ customer.name.first}} {{ customer.name.last}}
      </div>
      <div class="col-md-8">
        {{customer.email}}
      </div>
    </div>
  </div>

<br/>
  <div class="has-text-centered">
    <pagination-controls (pageChange)= "page = $event" class="pointer"></pagination-controls>
  </div>

</div> <!-- /container -->
