<!-- Fixed navbar -->
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
          aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" routerLink="/home" routerLinkActive="active" >Component Demos V2</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/customers" routerLinkActive="active" class="nav-link">Customers</a>
      </li>
      <li class="nav-item">
        <a routerLink="/accordions" routerLinkActive="active" class="nav-link">Accordions</a>
      </li>
      <li class="nav-item">
        <a routerLink="/pagination" routerLinkActive="active" class="nav-link">Pagination</a>
      </li>
      <li class="nav-item">
        <a routerLink="/font-awesome" routerLinkActive="active" class="nav-link">FontAwesome</a>
      </li>
    </ul>

  </div>
</nav>

<div class="container">

  <router-outlet></router-outlet>

  <hr>

  <footer>
    <p>&copy; 2017 Component Demos V2  </p>
  </footer>

</div>

